
   ion-item ion-grid {
        ion-card{
            width:100%;
            margin-left:0 !important;
            margin-right:0 !important;
            ion-card-content{
                padding: 0 !important; 
                margin: 0 !important;
            }
        }
    }


