<ion-content [fullscreen]="true">
  <ion-list-header>
    <h1>7 Day Weather</h1>
  </ion-list-header>

  <ng-container *ngIf="weatherData">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Weather Location </ion-card-subtitle>
              <ion-card-title>{{ weatherCityName }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-list>
                <ion-list-header>
                  7-Day Weather Forecast
                </ion-list-header>        
                <ion-item *ngFor="let futureWeatherData of weatherData.daily">
                  <ion-avatar slot="start">

                          <img [src]="futureWeatherData.weather[0]?.icon">

                  </ion-avatar>
                  <ion-label>
                    <h2>{{futureWeatherData.dt * 1000 | date:'EE, MM/dd'}}</h2>
                    <h3>Condition: {{futureWeatherData.weather[0].main}}</h3>
                    <h3>High: {{futureWeatherData.temp.max | number: "1.0-0"}}</h3>
                    <h3>Low: {{futureWeatherData.temp.min | number: "1.0-0"}}</h3>
                    <h3>Precipitation: {{futureWeatherData.pop * 100}}%</h3>
                    <!-- <p>Listen, I've had a pretty messed up day...</p> -->
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>